/* подключение локальный шрифтов на страницу */
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,h1,h2,h3,p,ul,li {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}

/* задание шрифта всей странице */
body {
    font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
}

/* стили для хедера(шапки) сайта */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.logo-link {
    max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
}

/* стили для  */
.content {
    margin: 32px 0;
    max-width: 1140px;
}

.collection {
    font-size: 48px;
}

.sneaker-name {
    font-size: 26px;
}

.discription {
    font-size: 20px;
}

/* стили для контейнера кроссовок */
.sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 32px 0 0;
}

/* стили для карточки кроссовок */
.sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    height: 100%;
    border-radius: 12px;
    background: white;
}

.sneaker-anim:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sneaker-image {
    width: 100%;
}

.sneaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 32px 24px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

/* стили для футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
}

.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}

.sneaker-card {
    max-width: 1140px;
    background-color: white;
    border-radius:50px;
    padding: 48px;
}

.card-img {
    max-width: 1044px;
}

.sneaker_title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sneaker-title {
    color:#121723;
    font-family: Anonymous Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; 
}

.sneaker-subtitle {
    color:#121723;
    font-family: Anonymous Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;   
}

.sneaker-information {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    column-gap: 32px;
}

.sneaker-information_text {
    max-width: 506px;
}

.text-p {
    color:#121723;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.about-sneaker {
    max-width: 506px;
}

.parameter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 24px 0 24px 0;

    color:#121723;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-sneaker-text {
    margin-bottom: 20px;
    color:#121723;
    font-family: Anonymous Pro;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

@media screen and (max-width:375px) {
    .header-container, .footer-content{
        flex-direction: column;
        align-items: center;
    }
    .collection {
        font-size: 32px;
    }
    .content {
      padding: 0 16px 0 16px;
    }
    .logo-link, .footer__logo-link {
        margin-bottom: 24px;
    }
    .sneaker-information {
        flex-direction: column;
        row-gap: 32px;
    }
    .sneaker-card{
        padding: 24px;
        border-radius: 12px;
    }
    .card-img {
        max-width: 295px;
        border-radius: 12px;
    }
    .parameter {
        font-size: 16px;
    }
    .about-sneaker-text {
        font-size: 24px;
    }
    .text-p {
        font-size: 16px;
    }
    .sneaker-title {
        font-size: 32px;
    }
    .sneaker-subtitle {
        font-size: 20px;
    }
}